In [101]:
import pandas as pd
import numpy as np
import os

In [102]:
path = r"C:\Data\Waste_Intervention\Census_Tables\Cleaned"
fList = os.listdir(path)

In [103]:
dfs = {}

for doc in fList:
    i = "{}\\{}".format(path, doc)
    j = doc.split("_")[-1][:-4]
    
    dfs[j] = pd.read_csv(i, na_values=("-"))
    
    df = pd.read_csv(i, na_values=("-"))
    #print dfs  
        
    df = df.dropna()
    print df.head(10)

           Id2  med_age
0  60855001001     27.2
1  60855001002     33.7
2  60855001003     26.9
3  60855001004     34.1
4  60855002001     30.6
5  60855002002     36.9
6  60855002003     36.9
7  60855002004     29.2
8  60855003001     37.3
9  60855003002     35.4
           Id2  White  AfAm  NatAm  Asian  Hawaiin  Other  Inter
0  60855001001    310     0      0    112        0    500     10
1  60855001002    397    18     12    727        0    717     65
2  60855001003    731     0      0    403        0   1418     68
3  60855001004    755   150     22    559        0    756     94
4  60855002001    796    43     50    212       63    154    250
5  60855002002    337   118     12     46        0    123     58
6  60855002003    812    83      0    250        0    376    190
7  60855002004    895    88     29    629        0    602     53
8  60855003001    265    65      7     54        0     35    127
9  60855003002   1865   215     20    726        0    202    209
           Id2  Total_HH  FamHH  NonFM  NoFamAloneHH
0  60855001001       286    174    112            86
1  60855001002       664    436    228           142
2  60855001003       561    364    197            79
3  60855001004       884    512    372           289
4  60855002001       526    256    270           171
5  60855002002         0      0      0             0
6  60855002003       615    291    324           229
7  60855002004      1004    159    845           496
8  60855003001       142     61     81            73
9  60855003002      1322    623    699           313
           Id2  HH1  HH2  HH3  HH4  HH5  HH6  HH7
0  60855001001   86   67   69   16    0    0   48
1  60855001002  142  135  157  211   19    0    0
2  60855001003   79   65   33   85  152   49   98
3  60855001004  289  296   67  114   67   24   27
4  60855002001  171  108   71  175    1    0    0
5  60855002002    0    0    0    0    0    0    0
6  60855002003  229   95  142   94   29    0   26
7  60855002004  496  241  107   55   36   69    0
8  60855003001   73    8   26   29    6    0    0
9  60855003002  313  647  164  104   58    0   36
           Id2  MedHHInc
0  60855001001   59118.0
1  60855001002  110714.0
2  60855001003   62730.0
3  60855001004   85648.0
4  60855002001  103265.0
5  60855002003   62067.0
6  60855002004   99821.0
7  60855003001   30625.0
8  60855003002  114904.0
9  60855004001   54489.0
           Id2  Vacant
0  60855001001       0
1  60855001002       0
2  60855001003       0
3  60855001004      89
4  60855002001      15
5  60855002002       0
6  60855002003      34
7  60855002004      44
8  60855003001       7
9  60855003002      46
           Id2  TotalHH  OwnerHH  RenterHH
0  60855001001      888      290       598
1  60855001002     1883      607      1276
2  60855001003     2620      999      1621
3  60855001004     2336      760      1576
4  60855002001     1424      611       813
5  60855002002        0        0         0
6  60855002003     1711      573      1138
7  60855002004     2296      440      1856
8  60855003001      312       88       224
9  60855003002     3237     1628      1609
           Id2  AvgHHSize  AvOwnHHsize  AvRenHHsize
0  60855001001       3.10         3.02         3.15
1  60855001002       2.84         2.21         3.28
2  60855001003       4.67         4.22         5.00
3  60855001004       2.64         2.43         2.76
4  60855002001       2.71         3.20         2.43
5  60855002003       2.78         4.34         2.36
6  60855002004       2.29         1.68         2.50
7  60855003001       2.20         2.15         2.22
8  60855003002       2.45         2.39         2.51
9  60855004001       2.33         2.60         2.25
           Id2  DetachUnit  AttachUnit  TwoUnits  Units_3_4  Units_5_9  \
0  60855001001         185          17         0         15         43
1  60855001002         189         269        61        114         16
2  60855001003         273          75        84          0          0
3  60855001004         287         176        77         93         52
4  60855002001         298          16        79         40         59
5  60855002002           0           0         0          0          0
6  60855002003         119          63         0         65        266
7  60855002004         137          76        31         15        137
8  60855003001          54          18        42         26          9
9  60855003002         422         302        14         55        120

   Units_10_19  Units_20_49  Units_50plus  UnitMobile  Unit_Other
0           26            0             0           0           0
1           15            0             0           0           0
2           47           82             0           0           0
3            0           66           222           0           0
4            0           12            37           0           0
5            0            0             0           0           0
6           88           38            10           0           0
7           13          166           473           0           0
8            0            0             0           0           0
9           45            8           402           0           0
           Id2  HouseYear
0  60855001001       1948
1  60855001002       1968
2  60855001003       1986
3  60855001004       1999
4  60855002001       1947
5  60855002003       1963
6  60855002004       1998
7  60855003001       1956
8  60855003002       1997
9  60855004001       1957
           Id2  studio  bed1  bed2  bed3  bed4  bed5
0  60855001001      14    12   204    19    37     0
1  60855001002       0    64   251   320    29     0
2  60855001003       0    12   321   197    18    13
3  60855001004      17   190   390   244   108    24
4  60855002001      12   112   267   124    26     0
5  60855002002       0     0     0     0     0     0
6  60855002003      86   239   257    41     0    26
7  60855002004      51   400   362   184    36    15
8  60855003001       0    48    88     0    13     0
9  60855003002      67   338   534   262   139    28
           Id2  R100  R150  R199  R249  R299  R349  R399  R449  R499  \
0  60855001001     0     0     0     0     0     0     0     0     0
1  60855001002     0     0     0     0     0     0     0     0    17
2  60855001003     0     0     0     0     0     0     0     0     0
3  60855001004     0    35     0     0    17     0     0     0     0
4  60855002001     0     0     0     0    31     0     0     0     0
5  60855002002     0     0     0     0     0     0     0     0     0
6  60855002003     0     0     0     0     0     0     0     0     0
7  60855002004     0     0     0     0     0     0     0     0     0
8  60855003001     0     0     0     0     0     0     0     0     0
9  60855003002     0     9     0     0     0     0     0     0     0

     ...      R799  R899  R999  R1249  R1499  R1999  R2499  R2999  R3499  \
0    ...         0     0    60     43      0     57     15      0      0
1    ...        12    49     0     46     97     71     49      0     48
2    ...         0     0     0     12    137    161     14      0      0
3    ...         0     0     0     90    136     58    107     34     47
4    ...         0     0    22     26     73     96     42      9      0
5    ...         0     0     0      0      0      0      0      0      0
6    ...         0    61     0    113    116     96      0     14      0
7    ...         0    12     0      0    112    275    148    139     24
8    ...         0    29     0     24     48      0      0      0      0
9    ...        18     8     0     50     52    111    108    172    102

   R3500plus
0          0
1          0
2          0
3          0
4          0
5          0
6          0
7          0
8          0
9          0

[10 rows x 25 columns]
           Id2  Total_Bachelors  STEM  STEM_rel  Business  Education  \
0  60855001001              192    88         0        38          0
1  60855001002              573   368         0        98         14
2  60855001003              360   127        81        84         17
3  60855001004              710   387         0       122         10
4  60855002001              523   309        12        30         12
5  60855002002               64    13        11        31          0
6  60855002003              295   138        37        38         11
7  60855002004              964   543        28       153         13
8  60855003001               53    32         0         0          0
9  60855003002             1606   594       159       332         61

   Humanities
0          66
1          93
2          51
3         191
4         160
5           9
6          71
7         227
8          21
9         460
           Id2  Population
0  60855001001         932
1  60855001002        1936
2  60855001003        2620
3  60855001004        2336
4  60855002001        1568
5  60855002002         694
6  60855002003        1711
7  60855002004        2296
8  60855003001         553
9  60855003002        3237

In [105]:
tabs = dfs.values()
df = tabs.pop()
for x in tabs:
    df = df.merge(x)

df.to_csv(r"C:\Data\CO_054\census_merged.csv", index=False)

In [110]:
rts = pd.read_csv(r"C:\Data\CO_054\MtVwResRCY.csv")

In [111]:
rts.columns = [x.lower() for x in rts.columns]
rts.head(2)

,fid,loc_name,status,score,match_addr,pct_along,side,ref_id,ref_id_side,x,...,sl_set,trip,arrival_ti,service_si,sequence,route,cycle_day,partition,service_mode,geo_index
0,569,CO_052_053_054,M,100.0,1097 MERCY ST,97.959184,L,"23,708,145.00",23708145L,-122.084501,...,0,0,0,0,0,2F1A,0,NaN,NaN,0
1,"1,648",NaN,M,0.0,NaN,0.000000,R,"23,749,160.00",23749160R,-122.071408,...,0,0,0,0,0,4F1A,0,NaN,NaN,0

In [11]:

check = rts.groupby(['ref_id']).apply(np.mode)

AttributeError: 'module' object has no attribute 'mode'

In [112]:
rts_f1 = rts.loc[rts['z1tims'] < 2]
mxRt = rts_f1.groupby(['ref_id_side', 'route']).size().reset_index(name='count')
mxRt = mxRt.sort_values(by=(['ref_id_side', 'count']))
mxRt = mxRt.drop_duplicates('ref_id_side', keep='last')
#count = mxRt['ref_id_side']
mxRt.head(5)
mxRt.to_csv(r"C:\Data\CO_054\maxRCY.csv", index=False)
type(mxRt)

pandas.core.frame.DataFrame

In [113]:
len(mxRt)

2827

In [94]:
def get_mode(group):
    return group.mode()[0]

In [95]:
rts_f1 = rts.loc[rts['z1tims'] < 2]
merged = rts_f1.merge(rts_f1.groupby(['ref_id_side'])['route'].apply(get_mode).reset_index(), how='left', indicator=True)
merged[merged['_merge'] != 'both'].groupby(['ref_id_side', 'route']).size().to_csv(r"C:\Data\CO_054\noMaxYW.csv")

In [96]:
fix = merged[merged['_merge'] != 'both'].groupby(['ref_id_side', 'route']).size()

In [97]:
final = rts.merge(mxRts)

NameError: name 'mxRts' is not defined